<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-ews-index") %>>
          <a href="/docs/providers/ews/index.html">Ews Provider</a>
        </li>
        <li<%= sidebar_current("docs-ews-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ews-resource-ews_compile") %>>
              <a href="/docs/providers/ews/r/ews_compile.html">ews_lambda_compile</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-ews-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-ews-resource-ews_deploy") %>>
              <a href="/docs/providers/ews/r/ews_deploy.html">ews_lambda_deploy</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
  <% end %>